{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/profi.css' %}"> 
<title>Home</title> 
<section class="home"> 
		<center> 
			<font size="6"> 
				
<p>ABOUT ME </p> 

			</font> 
			<img src="{% static 'images/Pro.jpg' %}" width="200" height="200"> 
			<font size="4"> 
				
<p>" My name is Debjoy Sarkar. I am presently pursuing engineering from a MAKAUT affiliated college named RCCIIT. Presently in 2nd year and pushing myself for max backend and little frontend for now. Rest are secret🤫. See you later"</p> 

			</font> 
		</center> 
</section>

<a href="login.html">
	<button>Login</button>
</a>